{% load staticfiles %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">