<!DOCTYPE html>
<html>
<head>
	<title> - </title>
	{% include "blog/init.html" %}
</head>
<body>
	<div class="block">
		
	</div>
	<textarea></textarea><br>
	<button  type="submit">Отправить</button>
</body>
</html>